<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fauna Config Editor</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <!-- Fork Me on Github -->
  <a href="https://github.com/bradleybossard/cover-letter-writer"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub"
     data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>

  <div class=header>
    <h1>Fauna Config Editor</h1>
    <hr>
  </div>

  <div ng-app="myApp" ng-controller="myCtrl" class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
					<label for="name">Name</label>
          <input type="text" name="name" class="form-control" placeholder="Number of config" ng-model="name" ng-change="updateConfig()">
        </div>

        <div class="form-group">
					<label for="iterations">Iterations</label>
          <input type="number" name="iteratons" class="form-control" placeholder="Number of iterations" ng-model="iterations" ng-change="updateConfig()">
        </div>

        <div class="form-group">
					<label for="axiom">Axiom</label>
          <input type="text" name="axiom" class="form-control" placeholder="Axiom" ng-model="axiom" ng-change="updateConfig()">
        </div>

				<!-- Add rules logic here -->

        <div class="form-group">
					<label for="animation_duration">Animation Duration</label>
          <input type="number" name="animation_duration" class="form-control" placeholder="Animation duration in seconds" ng-model="animation_duration" ng-change="updateConfig()">
        </div>

        <div class="form-group">
					<label for="fill_to">Fill To</label>
          <input type="color" name="fill_to" class="form-control" placeholder="Fill To Color" ng-model="fill_to" ng-change="updateConfig()">
        </div>

        <div class="form-group">
					<label for="fill_from">Fill From</label>
          <input type="color" name="fill_from" class="form-control" placeholder="Fill From Color" ng-model="fill_from" ng-change="updateConfig()">
        </div>


<!-- 

bradleybossard@instance-1:~/src/pyfauna$ cat grammars/hilbert.json 
{
  "name": "hilbert",
  "iterations": 6,
  "axiom": "L",
  "rules": {
    "L": "c+R[]F-L[]FL-FR+",
    "R": "-LF+RFR+FL-"
  },
  "animation_duration": "10s",
  "fill_to": "#00cc00",
  "fill_from": "#cccc00",
  "fill_duration": "3s",
  "path": [
    {
      "angle": 90,
      "length": 5,
      "length_growth": 0,
      "angle_growth": 0
    },
    {
      "angle": 87.9,
      "length": 5,
      "length_growth": 0,
      "angle_growth": 0
    }
  ]
}

-->
			</div>
		</div>


    <div class="row">
      <div class="form-group">
        <div class="btn-group pull-right" role="group" aria-label="...">
          <button type="button" class="btn btn-default btn-xs" data-clipboard-target="#letter">
              <span class="glyphicon glyphicon-copy" aria-hidden="true"></span> Copy to Clipboard 
          </button>
        </div>
      </div>
      <div class="form-group">
        <textarea id="letter">{{ displayString }}</textarea>
      </div>
    </div>

	</div>




  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js" integrity="sha256-6Sr0HqNgUf/p88g6vsl87CrAnNqiOWhjlY6LS8jeWHA=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js" integrity="sha256-YPxFEfHAzLj9n2T+2UXAKGNCRUINk0BexppujiVhRH0=" crossorigin="anonymous"></script>

  <script src="script.js"></script>

  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52576926-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
